
body {
    background-color: white;
    overflow: hidden;
    background-color: #f0f0f0;
}

#gameCanvas {
    display: block;
    max-width: 100%;
    max-height: 90%;
    margin: auto;
    border: 1px solid #ccc;
}

#gallery {
    width: 100%;
    padding: 8px;
    margin-top: 16px;
}

#gallery img {
    max-width: 128px;
    max-height: 80px;
}